<mat-card>
  <mat-card-title>My Title</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Submit</button>
    <button mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>
