/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 20px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  margin: 10px;
}
